<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>03双向数据绑定</title>
	<script src="../node_modules/vue/dist/vue.min.js"></script>
</head>
<body>
	<div id="app">
		<input type="text" v-model="msg">
		<input type="text" :value="msg2" @input="valueChange">
		<h3 v-text="msg"></h3>
		<h3 v-if="Math.random()>0.5">显示</h3>
		<h3 v-else>隐藏</h3>
	</div>

	<script>
		var app = new Vue({
			el:'#app',
			data:function(){
				return{
					msg:'大象',
					msg2:'大象2',
				}
			},
			methods:{
				valueChange(e){
					console.log(e.target.value);
				}
			},
		});
	</script>
</body>
</html>