<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>06-过滤器</title>
	<script src="../node_modules/vue/dist/vue.min.js"></script>
</head>
<body>
	<div id="app"></div>

	<script>
		// 过滤器的作用：为页面中数据进行添油加醋的功能

		// 局部过滤器 全局过滤器

		/**
		 * 1.声明过滤器
		 * 2.{{数据|过滤器名字}}
		**/

		var App = {
			data(){
				return{
					price:0,
					msg:'Hello filter',
				}
			},
			template:`
				<div>
					<input type="number" v-model="price">
					<h3>{{ price|myCurrentcy }}</h3>
					<input type="text" v-model="msg">
					<h3>{{ msg|myReverse(msg) }}</h3>
				</div>
			`,
			// 局部过滤器
			filters:{
				// 1.声明过滤器
				myCurrentcy:function(val){
					return "￥"+val;
				}
			}
		};

		Vue.filter('myReverse',function(val,arg){
			return arg+' '+val.split('').reverse().join('');
		});

		new Vue({
			el:'#app',
			components:{
				App,
			},
			template:`
				<App />
			`,
		})
	</script>
</body>
</html>